<h1>Welcome to <%= @crm_app_name %></h1>
<p>Main menu</p>
<ul>
  <li><a href="/add_new_contact">Add New Contact</a></li>
  <li><a href="../">Back</a></li>
  <!-- please complete me with links to other actions -->
</ul>