<div class="jumbotron" id="jumboAsShit">
	<div class="container">
		<h1> Welcome!!!</h1>
		<h3> This CRM application will allow you to.........</h3>
			<ul>
				<li> View all contacts</li>
				<li> Add a new contact</li>
				<li> Delete a contact</li>
				<li> Modify a contact</li>
			</ul>
	</div>
</div>