<h1>Welcome to <%= @crm_app_name %></h1>
<h2>Main Menu</h2>

<ul>
  <li><a href="/contacts">View all contacts</a></li>
  <li><a href="/contacts/new">Add New Contact</a></li>
  <li><a href="/contacts/delete">Delete a contact</a></li>
  <li><a href="/contacts/edit">Edit a contact</a></li>
  <!-- please complete me with links to other actions -->
</ul>