<h1>Welcome to <%= @crm_app_name %></h1>
<h2>Main Menu</h2>

  <h3><a href="/contacts">View all contacts</a></h3>
  <h3><a href="/contacts/new">Add New Contact</a></h3>
  <h3><a href="/contacts/delete">Delete a contact</a></h3>
  <!-- please complete me with links to other actions -->