<h1> Welcome to my CRM application</h1>
<h3> This application will allow you to.........</h3>
	<ul>
		<li> View all contacts</li>
		<li> Add a new contact</li>
		<li> Delete a contact</li>
		<li> Modify a contact</li>
	</ul>