<!DOCTYPE html>
<html>
	<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<title>Daniel's CRM</title>
		<style>
			#delete-contact-form {
				display: inline-block;
			}
			#jumboAsShit {
				color: white;
				background-color: red;
				border: dashed 1px red;
				border-radius: 40px;
			}
			#main-well{
				color: black;
				background-color: Grey;
			}
			#navbar-main {
				color: white;
				background-color: Black;
			}
		</style>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" id="navbar-main">
			<div class="container-fluid">
				<div class="navbar-header">
      	</div>
      	<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle Navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Online CRM</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li><a href="../">Home</a></li>
 						<li><a href="/contacts">View/Add/Remove [Contact Database] 
 							<span class="badge"><%= @contacts ? @contacts.count : 'Click->Reveal' %></span></a></li>
 						<li><a href="/contacts/new">Add to [Contact Database]</a></li>
					</ul>
				</div>
			</div>
		</nav><br />
		<div class="well panel panel-default" id="main-well">
			<%= yield %>
		</div>
		<footer class="footer" id="navbar-main">
      <div class="container">
      	<p><i>DanDyCode</i></p>
      </div>
    </footer>
	</body>
</html>